<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Remedy</h3>
              <nav>
                <ul class="nav masthead-nav">
                  <% if current_user %>
                    <li>Hey there <strong><%= current_user.name %></strong>!</li>
                    <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
                  <% end %>
                </ul>
              </nav>
            </div>
          </div>
          
            <div class="inner cover">
            <h1 class="cover-heading">Remedy</h1>
              <p class="lead">Yey OR Nay</p>
              <p class="lead">
                <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", :class => "btn btn-lg btn-default", :popup => true %>
              </div>

          <div class="mastfoot">
            <div class="inner text-center">
              <p>Students Present for <a href="http://http://flatironschool.com/">The Flatiron School</a>, by <a href="https://github.com/Sailorflares/AdviceApp">Sofia Ma and Elizabeth Wolensky</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>