<h1 class="cover-heading">Advice App</h1>
  <p class="lead">Yey OR Nay</p>
  <p class="lead">
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", :class => "btn btn-lg btn-default" %>
  </p>