<div class='row wrapper'>
  
    <% @advices.each do |advice| %>
      <%= render partial: 'advices/advice', :locals => {:advice => advice} %>
    <% end %>

</div>
<script type="text/javascript">
  /*
  $( document ).ready(function() {
    $(".up").click(function(e) {
      $.ajax("").done(function(data){
        alert("done!");
      });
    });
  });
  */
</script>