<p>User Show HTML ERB</p>

<%= link_to 'Add Advice', new_advice_path %>

<% @user.advices.each do |advice| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <p><%=advice.url%></p>
        <p>
        Tags: <%= raw advice.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
        </p>
        <p><a class="btn btn-primary btn-worked" role="button">It worked! :)</a> <a href="#" class="btn btn-default btn-didnt-work" role="button">Not so much :(</a></p>
      </div>
    </div>
  </div>
<%end%> 
