<div class='row wrapper'>
  
    <% @user.advices.each do |advice| %>
      <div class='col-md-8 col-md-offset-2 user-advice' data-advice-id='<%= advice.id %>' data-user-advice-id='<%= advice.id %>'> 
        <div class="thumbnail" >
          <div class="caption long-text">

            <h3><%= advice.title %></h3>
            <p class='url'><%=link_to advice.url, advice.url %></p>
            <div class='tags'>
              
            </div>
          </div>  
        <div class="btn-group" role="group" aria-label="...">
          <button type="button" class="btn btn-default">It worked!</button>
          <button type="button" class="btn btn-default">Not so much.</button>
        </div>    
        </div>  
      </div>  
    <% end %>
   
</div>